:8080 {
root * /app

# Rewrite all non-file requests to our router
@notFile {
not file
}
rewrite @notFile /index.php?route={path}

# Run PHP and set the timeout
php_server {
# Set PHP INI settings directly
php_ini max_execution_time 300
}
}